@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #000;
}
h2{
    font-size: 45px;
    line-height: 50px;
    color: #000;
}
h4{
    font-size: 20px;
    color: #000;
}
h6{
    font-size: 12px;
    color: #000;
}
p{
    font-size: 16px;
    color: #000;
    margin: 15px 0 20px 0;
}
.feature-padding1{
   padding: 40px 80px;
}
.section-margin1{
    margin: 40px 0;
}
body{
    width: 100%;
}
button.normal-btn{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #E3E6F2;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease; 
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E6F2;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(24, 24, 24, 0.2); 
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    text-decoration: none;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(29, 185, 94);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: rgb(29, 185, 94);
    position: absolute;
    bottom: -4px;
    left: 1px;
}
#hero{
    background-image: url(../images/hero4.png);
    background-position: top 25% right 0;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
    h4{
        padding-bottom: 5px;
    }
    h1{
        color:rgb(11, 126, 126);
    }
    #btn{
        background-image: url(../images/button.png);
        border: 0;
        padding: 14px 80px 14px 70px;
        color: rgb(29, 185, 94);
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
    }
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .fe-box{
        width: 180px;
        text-align: center;
        padding: 20px 10px;
        box-shadow: 20px 20px 30px rgb(0,0,0,0.04);
        border: 1px solid wheat;
        border-radius: 4px;
        margin: 15px 0;
        h6{
            display: inline-block;
            padding: 9px 8px 9px 8px;
            line-height: 2px;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
        }
        img{
            width: 100%;
            margin-bottom: 10px;
        }

    }
}

#feature .fe-box{
    box-shadow: 20px 20px 50px rgb(70,62,221,0.04);
}
#feature .fe-box:nth-child(2) h6{
 background-color: #F8F3D9;
}
#feature .fe-box:nth-child(3) h6{
    background-color:#FEF9E1;
}
#feature .fe-box:nth-child(4) h6{
    background-color:#F1E3D3;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #fddde4;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#featured-Product{
    text-align: center;
}

#featured-Product .pro-container .productList{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    box-shadow: 20px 20px 30px rgba(24, 24, 24, 0.2);
    transition: 0.3s ease;
    .pro-description{
        text-align: start;
        padding: 10px 0;
        span{
            color: #606063;
            font-size: 14px;
        }
        h5{
            padding-top: 6px;
            color: #1a1a1a;
            font-size: 15px;
        }
        .checked{
            font-size: 13px;
            color: orange;
        }
        h4{
            padding-top: 7px;
            font-size: 15px;
            font-weight: 700;
            color: #088178;
        }
    }
    .cart{
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        color: #11746d;
        font-size: 20px;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 15px;
        right: 10px;
    }
}
#featured-Product .pro-container .productList img{
    width: 100%;
    border-radius: 20px;
}
#featured-Product .pro-container .productList:hover{
    box-shadow: 20px 20px 30px rgba(24, 24, 24, 0.5);

}
.pro-container{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner/b2.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
    h4{
        color: #E3E6F2;
        font-size: 16px;
    }
    h2{
        color: #E3E6F2;
        font-size: 30px;
        padding: 10px 0;
    }
    span{
        color: crimson;
    }
}
#banner button:hover{
    background-color: #11746d;
    color:#fddde4;
}